<div class="coming-soon particles_js">
    <div class="auth_div vivify fadeInTop">
        <div class="card">            
            <div class="body">
                <div class="m-0auto text-center">
                    <p class="lead">Our website is under construction</p>
                    <div class="wsize2 row">
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <span class="s1-txt1">Days</span>
                            <div class="how-countdown">
                                <span class="l1-txt1 p-b-9 days">35</span>                                
                            </div>                                                        
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <span class="s1-txt1">Hours</span>
                            <div class="how-countdown">
                                <span class="l1-txt1 p-b-9 hours">17</span>                                
                            </div>                            
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <span class="s1-txt1">Minutes</span>
                            <div class="how-countdown">
                                <span class="l1-txt1 p-b-9 minutes">50</span>                                
                            </div>                            
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <span class="s1-txt1">Seconds</span>
                            <div class="how-countdown">
                                <span class="l1-txt1 p-b-9 seconds">39</span>                                
                            </div>                            
                        </div>
                    </div>
                    <div class="row">
                        <button class="btn btn-outline-primary mx-auto" [routerLink]="['/user/login']" routerLinkActive="router-link-active" >Login</button>                 
                    </div>
                </div>                
                <div class="pattern">
                    <span class="red"></span>
                    <span class="indigo"></span>
                    <span class="blue"></span>
                    <span class="green"></span>
                    <span class="orange"></span>
                </div>
            </div>            
        </div>
    </div>
    <div id="particles-js"></div>
</div>
<!-- END WRAPPER -->