<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                             <img src="assets/images/favicon2.png" alt="" width="36">
                    </div>
                    <div>BattMobile Dashboard
                        <!-- <div class="page-title-subheading">This is an example dashboard created using
                                build-in elements and components.
                            </div> -->
                    </div>
                </div>
                <div class="page-title-actions">

                    <div class="d-inline-block ">
                        <button type="button" (click)="data.goBack()" aria-haspopup="true" aria-expanded="false"
                            class="btn-shadow  btn btn-info">
                            <span class="btn-icon-wrapper">
                                <i class="pe-7s-angle-left fa-1x  fa-w-20"></i>
                            </span>
                            Back
                        </button>

                    </div>
                </div>
            </div>
        </div>



        <div class="row card mt-5">
            <div class="col-lg-12">
                <div class="card-body">
                    <h3 class="card-title"> Inquiries List</h3>
                    <table class="mb-0 table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Inquiry Id</th>
                                <th>Customer Name</th>
                                <th>Service Type</th>
                                <th>Mobile</th>
                                <th>Address</th>
                                <th>Inquiry Status</th>
                                <th>Order Status</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let inq of allInquiries  | paginate: { itemsPerPage: itemPerPage, currentPage: page } ; let i=index">
                                <th scope="row"> <span *ngIf="page==1">{{(i+1)}}</span>
                                    <span *ngIf="page>1">{{((page-1)*itemPerPage)+(i+1)}}</span>
                                </th>
                                <td>{{inq.inquiryId}}</td>
                                <td>
                                    <a [routerLink]="['/dashboard/customer/detail', inq.customerId]"
                                        routerLinkActive="router-link-active">{{inq.personalInfo.firstName}}
                                        {{inq.personalInfo.lastName}}</a>
                                </td>
                                <td>{{inq.serviceType}} </td>
                                <td>{{inq.contactNo}}</td>
                                <td>{{inq.address[0].address}}, {{inq.address[0].state}}</td>
                                <td>{{inq.inquiryStatus}}</td>
                                <td>{{inq.orderStatus}}</td>
                                <!-- 

                                <td>


                                    <button type="button" (click)="editProfile(user._id)" title="Edit technician"
                                        class="btn btn-circle btn-default btn-sm"><span class="sr-only">Edit</span><i
                                            class="fa fa-pencil-alt"></i></button>

                                    <button type="button" title="Delete" (click)="deleteCustomer(user._id)"
                                        class="btn btn-circle btn-default btn-sm"><span class="sr-only">Delete</span><i
                                            class="fa fa-trash"></i></button>
                                </td> -->

                            </tr>



                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>