<h3>Add New Stock</h3>

<form class="" name="loginForm" (ngSubmit)="f.form.valid && updateTyreStock()" #f="ngForm" novalidate>
  <!--form group-->
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label>Quantity</label>
        <input type="number" name="quantity" class="form-control" placeholder="Enter Quantity" [(ngModel)]="quantity"
          #quant="ngModel" [ngClass]="{ 'is-invalid': f.submitted && quant.invalid }" required>

        <div *ngIf="f.submitted && quant.invalid" class="invalid-feedback">
          <div *ngIf="quant.errors.required">Please enter quantity</div>
        </div>
      </div>

      <div class="form-group">
        <label>Detail(optional)</label>
        <textarea type="text" name="detail" class="form-control" placeholder="Enter Detail"
          [(ngModel)]="detail"></textarea>

      </div>





    </div>

  </div>
  <div class="text-right">
    <button type="button" class="btn btn-secondary mx-1" (click)="onClose()">Cancel</button>
    <button type="submit" class="btn btn-primary">Update</button>
  </div>
</form>