

<div class="row card">
  <div class="col-lg-12">
    <div class="">
      <h3 class="card-title">Car Wash Packages</h3>
      <table class="mb-0 table">
        <thead>
          <tr>
            <th>#</th>
            <th>Description</th>
            <th>Bronze</th>
            <th>Silver</th>
            <th>Gold</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of washPackage; let i=index">
            <th scope="row"> <span>{{(i+1)}}</span>

            </th>
            <td>
              {{data.title}}
            </td>
            <td>
              {{data.bronze}}
            </td>
            <td>
              {{data.silver}}
            </td>
            <td>
              {{data.gold}}
            </td>
          </tr>



        </tbody>
      </table>

    </div>
  </div>
</div>