<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <img src="assets/images/favicon2.png" alt="" width="36">
                    </div>
                    <div>New Enquiry
                        <div class="page-title-subheading">Here you are creating a new enquiry.
                        </div>
                    </div>
                </div>
                <div class="page-title-actions">
                    <div class="d-inline-block ">
                        <button type="button" (click)="data.goBack()" aria-haspopup="true" aria-expanded="false"
                            class="btn-shadow  btn btn-info">
                            <span class="btn-icon-wrapper">
                                <i class="pe-7s-angle-left fa-1x  fa-w-20"></i>
                            </span>
                            Back
                        </button>

                    </div>
                </div>
            </div>
        </div>
        <div class="add-brands card">
            <form name="form" (ngSubmit)="f.form.valid && saveNewInquiry()" #f="ngForm" novalidate>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="agent-info">
                            <h2 class="mt-3 card-title">Enquiry Details</h2>
                            <div class="agentname">
                                <p>Agent:<span>{{agentName}}</span></p>
                                <p>Time & Date:<span>{{today | date:'yyyy-MM-dd'}} - {{today | date : 'HH:mm'}}</span>
                                </p>
                            </div>

                            <div class="enqselect">
                                <select name="select" id="enuiryselect" class="form-control"
                                    (change)="inquiry.inquiryFrom == $event.target.value"
                                    [(ngModel)]="inquiry.inquiryFrom" #inq="ngModel"
                                    [ngClass]="{ 'is-invalid': f.submitted && inq.invalid }" required>
                                    <option [value]="null" disabled>Select Enquiry Via</option>
                                    <option value="whatsapp">Whastapp</option>
                                    <option value="call">Call</option>
                                    <option value="email">Email</option>
                                    <option value="app">App</option>
                                </select>
                                <div *ngIf="f.submitted && inq.invalid" class="invalid-feedback">
                                    <div *ngIf="inq.errors.required">Please select
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6 col-sm-12 border-right">
                        <div class="row">
                            <div class="col-lg-12">
                                <h4>Personal Information</h4>
                            </div>
                            <hr>
                            <div class="col-lg-6">
                                <label for="mobile">Mobile No(971566732152) </label>
                                <div class="form-group input-group">
                                    <input name="contact" placeholder="Enter mobile number" type="text"
                                        (focusout)="checkCustomer()" class="form-control"
                                        [(ngModel)]="inquiry.contactNo" #con="ngModel"
                                        [ngClass]="{ 'is-invalid': f.submitted && con.invalid }" required>

                                    <div class="input-group-append">
                                        <button (click)="checkCustomer()" type="button"
                                            class="btn-shadow  px-3 py-1 btn btn-primary btn-sm">
                                            <i class="fa text-white fa-search pr-1 pl-1"></i>
                                        </button>
                                    </div>
                                    <div *ngIf="f.submitted && con.invalid" class="invalid-feedback">
                                        <div *ngIf="con.errors.required">Please enter customer contact
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <div class="col-lg-6"></div>
                            <div class="col-lg-6">
                                <div class="  form-group"><label for="firstname" class="">First
                                        Name</label><input name="fName" placeholder="Enter first name" type="text"
                                        class="form-control" [(ngModel)]="user.firstName" #fName="ngModel">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="  form-group"><label for="lastname" class="">Last
                                        Name</label><input name="name" placeholder="Enter last name" type="text"
                                        class="form-control" [(ngModel)]="user.lastName">

                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="form-group"><label for="email" class="">Email
                                        Address</label><input name="email" placeholder="Enter email address"
                                        type="email" class="form-control" [(ngModel)]="user.email" #email="ngModel"
                                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                                    <!-- <i *ngIf="email.valid" class="fa fa-check"></i>
                                    <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                                        <div *ngIf="email.errors.required">Email is required</div>
                                        <div *ngIf="email.errors.pattern">Invalid email</div>
                                    </div> -->
                                </div>
                            </div>

                            <div class="col-md-12">

                                <h6>Enter Manual Location</h6>

                                <div class="row">
                                    <div class="col-8">
                                        <input type="text" class="form-control" placeholder="Enter Lattitude Longitude"
                                            name="lati" type="text" [(ngModel)]="lati" #la="ngModel">

                                    </div>


                                    <div class="col-4">
                                        <button type="button" (click)="searchLocation()"
                                            class="btn-block btn btn-info ">
                                            Search Location
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mt-3">
                                <h6><span class="badge badge-secondary badge-pill">Or</span> Type to Find Location</h6>
                                <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()"
                                    placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off"
                                    name="gadrs" spellcheck="off" type="text" #search [(ngModel)]="googleAddress"
                                    #gadrs="ngModel" [ngClass]="{ 'is-invalid': f.submitted && gadrs.invalid }"
                                    required>
                                <div *ngIf="f.submitted && gadrs.invalid" class="invalid-feedback">
                                    <div *ngIf="gadrs.errors.required">Please enter address
                                    </div>
                                </div>

                            </div>


                        </div>
                        <div class="row mt-3">
                            <div class="col-lg-12">
                                <h5>Location Result Map</h5>
                                <div class="maplocation">
                                    <img *ngIf="!address" id="imageResult" src="assets/images/map.jpeg" alt=""
                                        class="img-fluid rounded shadow-sm mx-auto d-block">
                                    <agm-map *ngIf="address" [latitude]="latitude" [longitude]="longitude"
                                        [zoom]="zoom">
                                        <agm-marker [latitude]="latitude" [longitude]="longitude"
                                            [markerDraggable]="true" (dragEnd)="markerDragEnd($event)"></agm-marker>
                                    </agm-map>
                                </div>

                                <h6>Address: {{ address }}</h6>
                                <h6>Latitude: {{ latitude }} - Longitude: {{ longitude }}</h6>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-6 col-sm-12">
                        <div class="row">
                            <div class="col-12">
                                <h4 class="">Customer Vehicles List</h4>
                                <div class="alert alert-light fade show">
                                    <div class="vehiclelist">
                                        <table class="table table-hover table-sm" *ngIf="customerVehicles.length > 0">
                                            <thead>
                                                <tr>
                                                    <th>Brand</th>
                                                    <th>Model</th>
                                                    <th>Action</th>
                                                    <th>Select</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let car of customerVehicles"
                                                    (click)="defaultVehicle(car.vehicleId)">
                                                    <td class="w100">{{car.brand}}</td>
                                                    <td><span>{{car.modelTitle}}</span></td>
                                                    <td><button type="button" (click)="deleteVehicle(car)"
                                                            class="btn btn-default btn-sm" title="Delete"><span
                                                                class="sr-only">Delete</span>
                                                            <i class="fa fa-trash"></i></button></td>
                                                    <td><button type="button" (click)="defaultVehicle(car.vehicleId)"
                                                            class="btn btn-default btn-sm">select</button></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <button type="button" (click)="addVehicles()"
                                        class="mb-2 btn-transition btn btn-outline-dark">
                                        Add Vehicles
                                    </button>


                                </div>
                            </div>
                            <div class="col-lg-12">
                                <h4 class="mt-3">Service Information</h4>
                                <div class="form-group"><label for="services" class="">Services
                                        Required</label>
                                    <select name="service" class="form-control"
                                        (change)="inquiry.serviceType == $event.target.value"
                                        [(ngModel)]="inquiry.serviceType" #service="ngModel"
                                        [ngClass]="{ 'is-invalid': f.submitted && service.invalid }" required>
                                        <option [ngValue]="null">Select Service</option>
                                        <option [value]="ser" *ngFor="let ser of offerServices">{{ser}}</option>

                                    </select>
                                    <div *ngIf="f.submitted && service.invalid" class="invalid-feedback">
                                        <div *ngIf="stat.errors.required">Please select service</div>

                                    </div>
                                </div>

                            </div>

                            <div class="col-12" *ngIf="inquiry.serviceType == 'Battery Change'">
                                <section class="row" *ngIf="isVehicles">
                                    <div class="col-lg-6" *ngIf="inquiry.serviceType == 'Battery Change'">
                                        <div class="  form-group"><label for="exampleSelect" class="">Select
                                                Vehicle</label>
                                            <ngx-select-dropdown [(ngModel)]="selectedVehicle" name="vehiicle"
                                                [multiple]="false" (change)="vehicleChange($event)"
                                                [config]="vehicleConfig" [options]="vehicles" #veh="ngModel"
                                                [ngClass]="{ 'is-invalid': f.submitted && veh.invalid }" required>
                                            </ngx-select-dropdown>

                                            <div *ngIf="f.submitted && veh.invalid && (veh.dirty || veh.touched)"
                                                class="validation-error">
                                                <div *ngIf="veh.errors.required">Please select</div>
                                            </div>
                                        </div>

                                    </div>


                                    <div class="col-lg-6" *ngIf="inquiry.serviceType == 'Battery Change'">
                                        <div class="  form-group"><label for="exampleSelect" class="">Recommended
                                                Batteries</label>
                                            <ngx-select-dropdown [(ngModel)]="selectedBattery" name="battery"
                                                [multiple]="false" (change)="batteryChange($event)"
                                                [config]="vehicleConfig" [options]="recomendedBatteries" #rb="ngModel">
                                            </ngx-select-dropdown>
                                        </div>
                                    </div>


                                    <div class="col-lg-12" *ngIf="selectedBattery">
                                        <div class="  form-group"><label for="exampleSelect" class="">Price Quoted
                                                (AED)</label>
                                            <input name="pricequoted" type="number" class="form-control"
                                                [(ngModel)]="priceQuoted">
                                        </div>
                                    </div>
                                </section>
                            </div>


                            <div class="col-12" *ngIf="inquiry.serviceType == 'Tyre Change'">
                                <section class="row" *ngIf="isVehicles">
                                    <div class="col-lg-6" *ngIf="inquiry.serviceType == 'Tyre Change'">
                                        <div class="  form-group"><label for="exampleSelect" class="">Select
                                                Vehicle</label>
                                            <ngx-select-dropdown [(ngModel)]="selectedVehicle" name="vehiicle"
                                                [multiple]="false" (change)="vehicleChange($event)"
                                                [config]="vehicleConfig" [options]="vehicles" #veh="ngModel"
                                                [ngClass]="{ 'is-invalid': f.submitted && veh.invalid }" required>
                                            </ngx-select-dropdown>

                                            <div *ngIf="f.submitted && veh.invalid && (veh.dirty || veh.touched)"
                                                class="validation-error">
                                                <div *ngIf="veh.errors.required">Please select</div>
                                            </div>
                                        </div>

                                    </div>


                                    <div class="col-lg-6" *ngIf="inquiry.serviceType == 'Tyre Change'">
                                        <div class="  form-group"><label for="exampleSelect" class="">Recommended
                                                Tires</label>
                                            <ngx-select-dropdown [(ngModel)]="selectedTyre" name="tyre"
                                                [multiple]="false" (change)="tyreChange($event)"
                                                [config]="vehicleConfig" [options]="recomendedTyres" #rT="ngModel">
                                            </ngx-select-dropdown>
                                        </div>
                                    </div>


                                    <div class="col-lg-12" *ngIf="selectedTyre">
                                        <div class="  form-group"><label for="exampleSelect" class="">Price Quoted
                                                (AED)</label>
                                            <input name="pricequoted" type="number" class="form-control"
                                                [(ngModel)]="priceQuoted">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="  form-group"><label for="exampleSelect" class="">Appointment
                                                Date</label>
                                            <input name="aptDate" type="date" class="form-control"
                                                [(ngModel)]="appointmentDate" #aptdate="ngModel"
                                                [ngClass]="{ 'is-invalid': f.submitted && aptdate.invalid }" required>
                                            <div *ngIf="f.submitted && aptdate.invalid" class="invalid-feedback">
                                                <div *ngIf="aptdate.errors.required">Please select appointment date
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>


                            <div class="col-12" *ngIf="inquiry.serviceType == 'Oil Change'">
                                <section class="row" *ngIf="isVehicles">
                                    <div class="col-lg-6" *ngIf="inquiry.serviceType == 'Oil Change'">
                                        <div class="  form-group"><label for="exampleSelect" class="">Select
                                                Vehicle</label>
                                            <ngx-select-dropdown [(ngModel)]="selectedVehicle" name="vehiicle"
                                                [multiple]="false" (change)="vehicleChange($event)"
                                                [config]="vehicleConfig" [options]="vehicles" #veh="ngModel"
                                                [ngClass]="{ 'is-invalid': f.submitted && veh.invalid }" required>
                                            </ngx-select-dropdown>

                                            <div *ngIf="f.submitted && veh.invalid && (veh.dirty || veh.touched)"
                                                class="validation-error">
                                                <div *ngIf="veh.errors.required">Please select</div>
                                            </div>
                                        </div>

                                    </div>


                                    <div class="col-lg-6" *ngIf="inquiry.serviceType == 'Oil Change'">
                                        <div class="  form-group"><label for="exampleSelect" class="">Recommended
                                                Oils</label>
                                            <ngx-select-dropdown [(ngModel)]="selectedOil" name="oil" [multiple]="false"
                                                (change)="oilChange($event)" [config]="vehicleConfig"
                                                [options]="recomendedOils" #rO="ngModel">
                                            </ngx-select-dropdown>
                                        </div>
                                    </div>


                                    <div class="col-lg-12" *ngIf="selectedTyre">
                                        <div class="  form-group"><label for="exampleSelect" class="">Price Quoted
                                                (AED)</label>
                                            <input name="pricequoted" type="number" class="form-control"
                                                [(ngModel)]="priceQuoted">
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="  form-group"><label for="exampleSelect" class="">Appointment
                                                Date</label>
                                            <input name="aptDate" type="date" class="form-control"
                                                [(ngModel)]="appointmentDate" #aptdate="ngModel"
                                                [ngClass]="{ 'is-invalid': f.submitted && aptdate.invalid }" required>
                                            <div *ngIf="f.submitted && aptdate.invalid" class="invalid-feedback">
                                                <div *ngIf="aptdate.errors.required">Please select appointment date
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>


                            <div class="col-12" *ngIf="inquiry.serviceType == 'Car Wash'">
                                <section class="row">
                                    <div class="col-lg-12">
                                        <div class="  form-group"><label for="exampleSelect" class="">Select
                                                Vehicle</label>
                                            <ngx-select-dropdown [(ngModel)]="selectedVehicle" name="vehiicle"
                                                [multiple]="false" (change)="vehicleChange($event)"
                                                [config]="vehicleConfig" [options]="vehicles" #veh="ngModel"
                                                [ngClass]="{ 'is-invalid': f.submitted && veh.invalid }" required>
                                            </ngx-select-dropdown>

                                            <div *ngIf="f.submitted && veh.invalid && (veh.dirty || veh.touched)"
                                                class="validation-error">
                                                <div *ngIf="veh.errors.required">Please select</div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-lg-8" *ngIf="inquiry.serviceType == 'Car Wash'">
                                        <div class="  form-group"><label for="exampleSelect" class="">Select
                                                Package</label>
                                            <select name="selectpkg" id="exampleSelect" class="form-control"
                                                (change)="selectedpackage== $event.target.value"
                                                [(ngModel)]="selectedpackage" #pkg="ngModel"
                                                [ngClass]="{ 'is-invalid': f.submitted && pkg.invalid }" required>
                                                <option [value]="null" disabled>Please Select package</option>
                                                <option value="bronze">Bronze</option>
                                                <option value="silver">Silver</option>
                                                <option value="gold">Gold</option>
                                            </select>
                                            <div *ngIf="f.submitted && pkg.invalid" class="invalid-feedback">
                                                <div *ngIf="pkg.errors.required">Please select
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4" *ngIf="inquiry.serviceType == 'Car Wash' && selectedpackage">
                                        <button type="button" (click)="viewPackageDetail()"
                                            class="btn btn-block btn-transition btn-primary mt-4">
                                            Package Detail
                                        </button>
                                    </div>
                                </section>
                            </div>

                            <div class="col-lg-12">
                                <div class="  form-group"><label for="exampleEmail" class="">Remarks:</label><textarea
                                        name="remarks" placeholder="Inquiry Remarks" type="text" class="form-control"
                                        [(ngModel)]="inquiry.remarks" #remarks="ngModel"></textarea>

                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="  form-group"><label for="exampleEmail" class="">Notes:</label><textarea
                                        name="notes" placeholder="Inquiry Notes" type="text" class="form-control"
                                        [(ngModel)]="inquiry.inquiryNote" #inotes></textarea>

                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="  form-group"><label for="exampleSelect" class="">Inquiry
                                        Status</label>
                                    <select name="istatus" id="exampleSelect" class="form-control"
                                        (change)="inquiry.inquiryStatus == $event.target.value"
                                        [(ngModel)]="inquiry.inquiryStatus" #iStatus="ngModel"
                                        [ngClass]="{ 'is-invalid': f.submitted && iStatus.invalid }" required>
                                        <option [value]="null" disabled>Please Select</option>
                                        <option [value]="status" *ngFor="let status of inqStatus">{{status}}</option>
                                    </select>
                                    <div *ngIf="f.submitted && iStatus.invalid" class="invalid-feedback">
                                        <div *ngIf="iStatus.errors.required">Please select status
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-lg-12">
                                <div class="  form-group"><label for="exampleEmail" class="">Inquiry
                                        Detail:</label><textarea name="detail" placeholder="Inquiry Detail" type="text"
                                        class="form-control" [(ngModel)]="inquiry.inquiryDetail" #inotes></textarea>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <hr>
                <div class="row mt-3">
                    <div class="col">
                        <div class="text-right form-group">
                            <button id='resetBtn' type="reset"
                                class="btn btn-lg btn-outline-secondary mr-2">Cancel</button>
                            <button type="submit" class="btn btn-lg btn-primary" (click)="checkValid(f)" [disabled]="isDisabled">Submit
                            </button>

                        </div>
                    </div>
                </div>
            </form>
        </div>



    </div>
</div>