<h3>Assign Tyre Stock</h3>

<form class="" name="loginForm" (ngSubmit)="f.form.valid && assignStock()" #f="ngForm" novalidate>
  <!--form group-->
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label>Select Technician</label>
        <div class="position-relative form-group">
          <ngx-select-dropdown [(ngModel)]="user" name="btry" (change)="userChange($event)" [config]="userConfig"
            config.height='600px' [options]="allUsers" #btry="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && btry.invalid }" required>
          </ngx-select-dropdown>
          <div *ngIf="f.submitted && btry.invalid && (btry.dirty || btry.touched)" class="validation-error">
            <div *ngIf="btry.errors.required">Please select technician</div>
          </div>
        </div>

        <div class="position-relative form-group">
          <input type="number" [min]="min" [max]="max"  name="quantity" class="form-control"
            placeholder="Enter  quantity" [(ngModel)]="quantity" #quant="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && quant.invalid }" required>

          <div *ngIf="f.submitted && quant.invalid" class="invalid-feedback">
            <div *ngIf="quant.errors.required">Please enter quantity</div>
           
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="text-right">
    <button type="button" class="btn btn-secondary mx-1" (click)="onClose()">Cancel</button>
    <button type="submit" class="btn btn-primary" [disabled]="disabled">Assign</button>
  </div>
</form>