.main-topbar{
    background-color:#b5e1f1;
    // padding: 1rem 2rem;
    color:#000000 !important;
    a{
        color: #31479c !important;
    }
    
}
#contentId .navbar {
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0), 0 2px 10px 0 rgba(0, 0, 0, 0);
}
nav.main-topbar .btn {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0), 0 2px 10px 0 rgba(0, 0, 0, 0);
    margin:0px;
    padding: 0.9rem 1.14rem;
}
nav.main-topbar .btn i.material-icons {
    font-size:32px;
    &:hover {
        color: green;
    }
}