.tex-red {
    color: red;
    font-weight: 700;
}

.enqs-open {
    background-color: rgba(255, 224, 224, 0.5);
}

.ens-closed {
    background-color: rgba(216, 243, 229, 0.5);
}

.table tr:hover {
    cursor: pointer;
}