.close-btn{
    // background-color: #007236;
    // border-radius:30px;
    // padding:10px 30px;
    // margin-top:1rem;
    color:rgba(0,0,0,0.5);
    float: right;
    cursor: pointer;
}
.close-btn:hover{
  color: #007236;
}

.mat-form-field{
  width: 100%;
}
